footer {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    font-size: 1.5rem;
    gap: 3rem;

    .footer-info {
        display: flex;
        justify-content: space-around;
        // flex-wrap: wrap;
        color: white;
        text-align: center;

        .footer-info-box {
            width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 10px;
        }
    }

    .footer-nav ul {
        text-align: center;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }
    .copyright{
        color: white;
        text-decoration: underline;
    }

}

.rating {
    color: #fffb00;
    font-size: 3rem;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #969595;
    border-radius: 20px;
    font-size: large;
    color: white;
}