* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: "Jost", sans-serif, serif;
    /* position:relative */
    }


header {
    height: 10rem;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12rem;
    border-bottom: 10px solid #DE8928;


    /* 
    header {
    position: fixed;       
    top: 0;                
    left: 0;              
    z-index: 1000;         
    */

    .logo {
        height: 9rem;
        width: 10.5rem;
        object-fit: cover;
    }

    .nav {
        display: flex;
        gap: 5rem;


        li a {
            color: white;
            font-size: 1.8rem;
            font-weight: 500;
            text-transform: capitalize;
            cursor: pointer;
            position: relative;
            transition: width 0.3s ease-in;


            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -0.6rem;
                width: 0%;
                height: 0.2rem;
                background-color: white;
            }

            &:hover::after,
            &.active::after {
                width: 100%;
            }
        }


    }

    .user {
        display: flex;
        gap: 3rem;
        cursor: pointer;

        i:hover {
            scale: 1.2;
        }

    }
}