:root{
    --primary-color: #87252D;
    --secondary-color: #DE8928;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: "Jost", sans-serif, serif;
    overflow-x: hidden;
    /* position:relative */
}

/* loop animation */

.loop {
    height: 25rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@keyframes loop-animation{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.animation{
    animation: loop-animation 40s infinite linear 0.5s both;
    display: flex;
    gap: 100px;
}
.loop .animation:nth-child(1) {
    margin-right: 100px;
}

.loop img {
    width: 18em;
    height: 14.5rem;
}

/* menu section */

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}
#title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title h1 {
    font-family: "Titan One", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15rem;
    opacity: 0.2;
}
#title h2{
    font-size: 5rem;
    position: absolute;
    padding: 6rem 0 0 0;
    text-decoration: solid;
    /* color: #f02400; */
}
#title p {
    font-family: "Allison", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    transform: translateY(-30px);
}
.menu-poster {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem 5rem;
    gap: 3rem;
    /* background: #5b3232;
    border-radius: 50%; */
    position: relative;
}
.circle{
    position: absolute;
    background: #603636;
    width: 1110px;
    height: 1110px;
    border-radius: 50%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}

.menu-poster .poster-2 {
    width: 61rem;
    height: 87rem;
}

.menu-poster .poster-1,
.poster-3 {
    width: 51rem;
    height: 77rem;
}
.menu-button{
    transform: translateY(-60px);
    background: var(--secondary-color);
}

/* About section */
.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mask{
    width: 16rem;
    height: 20rem;
}
.window{
    width: 18rem;
    height: 22rem;
}
.about-01{
    height: 24rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
}
.about-02{
    height: 48.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.about-02 img{
    width: 57rem;
    height: 40rem;
    margin:35px 0 ;
}
.about-text{
    width: 40.8rem;
    height: 48.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.story, .philosophy{
    width: 40.8rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    padding: 2rem;
    box-shadow: -5px 5px 5px rgb(235, 232, 232);
    /* writing-mode: vertical-rl;
    text-orientation: upright; */
}
.about-03{
    height: 600px;
    width: 998px;
    /* margin: 0 22.6rem; */
    background: url(/images/homepage-images/restaurant-inner.png) center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cuisine{
    width: 570px;
    height: 290px;
    font-size: 1.6rem;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 0 40px 0 40px;
}
.cuisine-inner {
    text-align: center;
    margin: 10px 0;
}
.illustrator img{
    width: 300px;
}
.about-wrapper{
    width: 120rem;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Feedback section */

.feedback{
    margin: 9rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rating {
    color: #fffb00;
    font-size: 3rem;
}

.comments{
    width: 40rem;
}
.bg{
    width: 100%;
    background: #000;
}
.swiper-wrapper {
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
}
 .swiper-slide {
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--primary-color);
    border-radius: 20px;
    font-size: large;
    color: white;
}
.swiper{
    width: 800px;
    height: 500px;
    background: #000;
}
.swiper-button-prev{
    width: 60px;
    height: 60px;
    transform: rotate(-180deg);
    background-color: rgb(222, 222, 222);
    border-radius: 50%;
    color: black;
}
.swiper-button-next{
    width: 60px;
    height: 60px;
    background-color: rgb(222, 222, 222);
    border-radius: 50%;
    color: black;
}
.swiper-button-prev svg,.swiper-button-next svg {
    width: 12px;
    height: 12px;
 }

.slider-illus{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10rem;
    align-items: center;
}
.round-momo{
    opacity: 0.5;
    width: 120px;

}
.flat-momo{
    opacity: 0.5;
    width: 110px;
    transform: rotate(45deg);
}