:root {
    --primary-color: #87252D;
    --secondary-color: #DE8928;
    --background-color: #F9F3E7;
    --title-color: #E2C6B6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-family: "Noto Serif JP", sans-serif, serif;
    overflow-x: hidden;
    position: relative;
    background-color: var(--background-color);
}

.main-container {
    background-image: url(./images/homepage-images/wallpaper.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 85rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    margin-top: 40px;
}


.title-container {
    color: white;
}

.title-container h1 {
    font-family: "Noto Sans JP";
    font-size: 8rem;
    font-weight: 900;
    color: var(--secondary-color);
}

.title-container h2 {
    font-size: 4rem;
    color: var(--secondary-color);
}

.title-container p {
    font-size: 2rem;
    padding: 2rem 0;
}

#buttons {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

.myButton{
    background-color: var(--primary-color);
}
.myButton:hover{
    background: #ce0000;
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(255, 8, 0, 0.4);
}


/* .button-2 {
    margin: 0 2rem;
} */
.image-container img {
    width: 500px;
    border-radius: 50%;
}


/* loop animation */

.loop {
    height: 20rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
}

@keyframes loop-animation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.animation {
    animation: loop-animation 40s infinite linear 0.5s both;
    display: flex;
    gap: 100px;
    width: max-content;
}

.loop .animation:nth-child(1) {
    margin-right: 100px;
}

.loop img {
    width: 17rem;
    height: auto;
    flex-shrink: 0;
}

/* menu section */

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 5rem 0 5rem;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title h1 {
    font-family: "Titan One", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12rem;
    color: var(--title-color);
    /* opacity: 0.2; */
}

#title h2 {
    font-size: 3.6rem;
    position: absolute;
    padding: 5rem 0 0 0;
    text-decoration: solid;
    /* color: #f02400; */
}

#title p {
    font-family: "Allison", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    transform: translateY(-30px);
    padding: 25px;
}

.menu-poster {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem 5rem 0 5rem;
    gap: 5rem;
    /* background: #5b3232;
    border-radius: 50%; */
    position: relative;
}

.circle {
    position: absolute;
    background: #603636;
    width: 1110px;
    height: 1110px;
    border-radius: 50%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}

.menu-poster .poster-2 {
    width: 61rem;
    height: 87rem;
}

.menu-poster .poster-1,
.poster-3 {
    width: 51rem;
    height: 77rem;
}
.menu-button-box{
    transform: translateY(20px);
}
.menu-button {
    background-color: var(--secondary-color);
}
.menu-button:hover{
    background: #ff8c00;
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(255, 165, 0, 0.4);
}



/* About section */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
}

.mask {
    width: 16rem;
    height: 20rem;
}

.window {
    width: 18rem;
    height: 22rem;
}

.about-01 {
    height: 24rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
}

.about-02 {
    height: 45.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 25px 0;
}

.about-02 img {
    width: 610px;
    height: 445px;
}

.about-text {
    width: 37.5rem;
    height: 48.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.story,
.philosophy {
    width: 36rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.story h2,
.philosophy h2 {
    font-size: 2.4rem;
    color: var(--secondary-color);
    padding-bottom: 15px;
}

.story p,
.philosophy p {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: bold;
}


.about-03 {
    height: 600px;
    width: 998px;
    /* margin: 0 22.6rem; */
    background: url(./images/homepage-images/restaurant-inner.png) center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .cuisine {
        width: 570px;
        height: 290px;
        font-size: 1.6rem;
        color: white;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        border-radius: 0 40px 0 40px;
    }

}

.cuisine-inner {
    text-align: center;
    margin: 10px 0;

    h2 {
        color: var(--secondary-color);
        padding-bottom: 15px;

        p {
            font-size: 18px;
            font-weight: bold;
        }
    }

}

.illustrator img {
    width: 300px;
}

.about-wrapper {
    width: 120rem;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Feedback section */

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
}

.rating {
    color: #fffb00;
    font-size: 3rem;
}

.comments {
    width: 40rem;
}

.bg {
    width: 100%;
    /* background: var(--secondary-color); */
    height: 62rem;
    display: flex;
    align-items: center;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
}

.swiper-slide {
    width: 980px;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--primary-color);
    border-radius: 20px;
    font-size: large;
    color: white;
}

.swiper {
    width: 980px;
    height: 620px;
}

.swiper-button-prev {
    width: 60px;
    height: 60px;
    transform: rotate(0deg);
    background-color: rgb(222, 222, 222);
    border-radius: 50%;
    color: black;
}

.swiper-button-next {
    width: 60px;
    height: 60px;
    background-color: rgb(222, 222, 222);
    border-radius: 50%;
    color: black;
}

.swiper-button-prev svg,
.swiper-button-next svg {
    width: 12px;
    height: 12px;
}

.slider-illus {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15rem;
    align-items: center;
}

.round-momo {
    opacity: 0.5;
    width: 120px;

}

.flat-momo {
    opacity: 0.5;
    width: 110px;
    transform: rotate(45deg);
}

/* services section */
.service_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
}

.boyandgirl {
    width: 100%;
    height: 20rem;
    overflow: hidden;
}

.boyandgirl img {
    width: 12rem;
}

.girl {
    animation: moveFromLeft 3s forwards 0.5s;
}

.boy {
    animation: moveFromRight 3s forwards 0.5s;
}

@keyframes moveFromLeft {
    from {
        transform: translateX(-300%);
    }

    to {
        transform: translateX(590%);
    }

}

@keyframes moveFromRight {
    from {
        transform: translateX(1300%);
    }

    to {
        transform: translateX(610%);
    }

}



.service-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url(./images/homepage-images/mount_everest.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    gap: 30px;
    padding: 9rem;
}

.service_item {
    width: 30rem;
    height: 47rem;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}

.service_item img {
    width: 21rem;
    height: 12.5rem;
}

.service_item h2 {
    font-size: 2.4rem;
    font-weight: 800;
    text-align: center;
    padding: 5px;
}

.delivery_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.service-text {
    width: 28rem;
    height: 7rem;
    display: flex;
    align-items: center;
}

.service-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28rem;
    height: 10rem;

}

.service-item-02 img {
    width: 9rem;
}

.lunch-boxes p {
    background: #000;
}

.best-value img {
    width: 8rem;
    height: auto;
}

.plate {
    width: 8rem;
}

.service-button {
    width: 160px;
    height: 45px;
    background-color: var(--primary-color);
    padding: 10px;
}

.service_item p {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.service_item .delivery_logo img {
    max-width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
}